[Unit]
Description=CraftBeerPI Daemon
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/craftbeerpi3
ExecStart=/home/pi/craftbeerpi3/run.py
Restart=always

[Install]
WantedBy=default.target
